h1,span{
    color:red;
}
h2{
    color: white;
    background-color: green;
}
.firstText{
    color: white;
    background-color: blue;
    width: 100px;
    height: 75px;
    margin-bottom: 100px;
}
.second{
    padding: 50px;
}
.thirdText{
    padding-left: 130px;
}
ul{
    margin-top: 25px;
}
li{
    border: 1px solid black;
}
